.main-div {
  width: 75%;
  position: fixed;
  top: 70px;
  left: 160px;
  height: 60%;
}

.tab {
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #171a1f;

}

.tab::-webkit-scrollbar {
  display: none;
}

.main-div p {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  font-family: 'Lato', sans-serif;
}

.student-table {
  font-family: 'Lato', sans-serif;
  width: 100%;
  border-collapse: collapse;
  color: white;
  border: 1px solid #171a1f;
  border-top: none;
}

.student-table th,
.student-table td {
  padding: 15px;
  text-align: left;
}

.student-table th {
  background-color: #171a1f;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.student-table tbody tr:hover {
  background-color: #171a1f;
}

.student-table tbody tr {
  background-color: #000;
}
@media only screen and (max-width:770px) {
  .main-div {
    left: 16%;
  }
}
@media only screen and (max-width:710px) {
  .main-div  p{
    margin-bottom: 50px;

  }
  .search-bar {
    position: absolute;
    top:12%;
    left: 0%;
    
  
  }
  .search-bar input{
    width: 50%;
  }
  
}
