/* General styles */
.main-container {
  background-color: black;
  width: 100%;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  position: relative;
  transition: margin-left 0.3s ease;
}

/* Sidebar */
.side-bar {
  background-color: #171a1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
}

/* Sidebar states */
.side-bar.hidden {
  transform: translateX(-100%);
}

.side-bar.visible {
  transform: translateX(0);
}

/* Navbar items */
.nav-content {
  position: relative;
  width: 90px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.nav-content p {
  font-size: 13px;
  margin: 0;
}

.nav-content:hover p {
  background-color: #2c2c2c;
  font-weight: bold;
  color: #e1bebe;
}

.nav-content:hover i {
  color: #e74c3c;
}

.nav-content:hover {
  background-color: #2c2c2c;
  font-weight: bold;
  color: #e1bebe;
}

.nav-content i {
  font-size: 20px;
}

.nav-content.active p {
  color: #e1bebe;
  font-weight: bold;
}

.nav-content.active {
  background-color: #2c2c2c;
  color: #e1bebe;
  border-left: 2px solid #e74c3c;
  font-weight: bold;
}

.nav-content.active i {
  color: #e74c3c;
}

/* Logo */
.logo {
  width: 55px;
  height: 55px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo i {
  font-size: 64px;
  color: orangered;
}

/* Avatar */
.avatar {
  position: absolute;
  bottom: 40px;
  background-color: rgb(216, 87, 32);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #e1bebe;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

/* Bottom bar */
.bottom-bar {
  width: 94%;
  height: 80px;
  position: fixed;
  bottom: 35px;
  margin-left: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btm-content {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  font-size: 16px;
  color: #414753;
  cursor: pointer;
}

.btm-content::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #e1bebe;
  transition: width 0.3s;
}

.btm-content:hover::after {
  width: 100%;
}

.btm-content i {
  margin-right: 8px;
  transition: color 0.3s;
}

.btm-content:hover i {
  color: #e1bebe;
}

.btm-content:hover {
  color: #e1bebe;
}

/* Upload button */
.upload-btn {
  width: 100px;
  height: 30px;
  background-color: orangered;
  color: white;
  position: absolute;
  right: 145px;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}

.upload-btn:hover {
  background-color: darkorange;
}

/* Logout button */
.logout-btn {
  width: 100px;
  height: 30px;
  background-color: orangered;
  color: white;
  position: absolute;
  right: 25px;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}

.logout-btn:hover {
  background-color: darkorange;
}

/* Toggle arrow */
.toggle-arrow {
  position: fixed;
  top: 20px;
  left: 10px;
  width: 30px;
  height: 30px;
  /* background-color: orangered; */
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.toggle-arrow.hidden {
  opacity: 0;
  visibility: hidden;
  display: block;
  
}

.toggle-arrow.visible {
  opacity: 1;
  visibility: visible;
}

.toggle-arrow i {
  font-size: 30px;
  color: white;
}

/* Responsive styles */
@media (max-width: 770px) {
  .side-bar.hidden {
    display: inline;

  }

  .toggle-arrow.visible {
    display: block;
    transform: rotate(180deg);
    position: fixed;
    left: 5%;

  }

  .toggle-arrow {
    width: 30px;
    position: fixed;
    top: 0px;
    left: 0;

  }

  .main-container {
    margin-left: 0;
  }
  .side-bar{
    width: 10%;
    display: inline;
  }
  .side-bar p{
    display: none;
  }
  .nav-content{
    width: 100%;
  }
  .logo i{
    font-size: 35px;
  }
  .logo{
    width: unset;
  }
  .side-bar.visible {
    transform: translateX(0);
} 

.avatar{
  width: 30px;
  height: 30px;
}
.nav-content{
  margin-top: 3px;
}

}

@media (min-width: 771px) {
  .side-bar {
    display: flex;
  }

  .toggle-arrow {
    display: none;
  }
}

@media only screen and (max-width:1032px) {
  .btm-content{display: none;}
  
}