.submission-main {
  color: white;
  position: fixed;
  left: 160px;
  top: 70px;
  width: 75%;
  height: 60%;
}

.submission-main p {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  font-family: 'Lato', sans-serif;
}
.tab {
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #171a1f;

}

.tab::-webkit-scrollbar {
  display: none;
}

.submission-table {
  font-family: 'Lato', sans-serif;
  width: max-content;
  border-collapse: collapse;
  color: white;
  border: 1px solid #171a1f;
  border-top: none;
  width: 100%;
}

.submission-table th,
.submission-table td {
  padding: 15px;
  text-align: left;
}

.submission-table th {
  background-color: #171a1f;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.submission-table tr:hover {
  background-color: #171a1f;
}