
  .upload-btn {
    width: 100px;
    height: 30px;
    background-color: orangered;
    color: white;
    position: absolute;
    right: 145px;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-form {
    background-color: #2c2f33;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: 'Lato', sans-serif;
    color: white;
    height: 170px;
    margin: 20px;
  }
  .popup-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .close-button {
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: orangered;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }
  
  
  h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  
  .custom-file-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  input[type="file"] {
    display: none; /* Hide the default file input */
  }
  
  .choose-file-button {
    /* padding: 8px 15px; */
    background-color: #6e7378;
    color: black;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
    height: 25px;
    width: 110px;
    margin-top: 15px;
  }
  

  .file-name {
    font-size: 12px;
    color: #ffffff;
  }
  
  .submit-button {
    /* padding: 10px 20px; */
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 26px;
    width: 80px;
    margin-top: 20px;
  }
  
