.container-main {
  color: white;
  position: fixed;
  left: 160px;
  top: 70px;
  width: 75%;
  height: 60%;
}

.tab {
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #171a1f;
  margin-right: 20px;
  position: absolute;
}

.tab::-webkit-scrollbar {
  display: none;
}

p {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  font-family: 'Lato', sans-serif;
}

.attendance-table {
  font-family: 'Lato', sans-serif;
  width: 100%;
  border-collapse: collapse;
  color: white;
  border: 1px solid #171a1f;
  border-top: none;
}

.attendance-table th,
.attendance-table td {
  padding: 15px;
  text-align: left;
}

.attendance-table th {
  background-color: #171a1f;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.attendance-table tr:hover {
  background-color: #171a1f;
}

.edit-btn {
  background-color: orangered;
  color: white;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 20px;
  border-radius: 2px;
  margin-left: 5px;
  position: relative;
}
.centre-btn{
  width: 160px;
}

.edit-form {
  background-color: #35373b;
  border: 1px solid #171a1f;
  padding: 10px;
  margin-top: -20px;
  margin-right: 9px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 3; 
  flex-direction: column;
  position:absolute;
  right: 0%;
  
 
  

}

.edit-form label {
  color: white;
  font-size: 14px;
  margin-right: 10px;
}

.edit-form input[type="radio"] {
  margin-right: 5px;
  accent-color: orangered;
  cursor: pointer;
}

.edit-form button{
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 90%;
}

.confirm-btn:hover {
  background-color: orangered;
}

.search-bar {
  position: absolute;
  top: 7%;
  right: 0%;
 

}

.search-bar input {
  position: relative;
  /* width: 20%; */
   padding: 6px 0px 7px 40px;
  font-size: 14px;
  border: none;
  border: 1px solid #5a5959;
  outline: none;
  background-color: black;
  transition: border-color 0.3s;
  color: white;
  border-radius: 5px;
  width: 295px;
 
  font-weight: 100;
  
  
}
.search-bar i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #c7c6c6;
  font-size: 20px;
  transition: color 0.3s,
}


@media only screen and (max-width:770px) {
  .container-main {
    left: 16%;
  }
  .tab{
    left: 0%;
  }

}
@media only screen and (max-width:710px) {
  .container-main  p{
    margin-bottom: 50px;

  }
  .search-bar {
    position: absolute;
    top:12%;
    left: 0%;
   
  
  }
  .search-bar input{
    width: 50%;
  }
  
}

@media only screen and (max-width:510px) {
  .edit-form {
    position: absolute;
    right: 0%;
  }

}
@media only screen and (max-width:400px) {
  .edit-form {
    position: absolute;
    right: -28%;  }

}