.main-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: 'Lato', sans-serif;

}

h3 {
    color: white;
    font-size: 22px;
    font-family: 'Lato', sans-serif;

}

.nav-bar {
    height: 8%;
    width: 100%;
}

.sub-container {
    width: 100%;
    height: 92%;
}

.mini-container {
    margin-left: 90px;
    background-color: rgb(0, 0, 0);
    height: 100%;
    position: fixed;
    width: 93%;
    padding-top: 20px;

}

.search {
    position: relative;
}

.download {
    width: 120px;
    height: 30px;
    background-color: orangered;
    position: fixed;
    right: 50px;
    display: flex;
    top: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.download:hover {
    background-image: linear-gradient(to right, #e75f20 0%, rgb(255, 38, 0) 100%);
    transition: .5s ease;
}

.search input {
    width: 20%;
    padding: 7px 0px 8px 40px;
    font-size: 15px;
    border: none;
    border: 1px solid #5a5959;
    outline: none;
    background-color: black;
    transition: border-color 0.3s;
    color: white;
    border-radius: 5px;
}

.logos {
    background-image: url('../assets/Logo11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 160px;
    height: 50px;
    position: fixed;
    left: 25px;
    background-size: contain;
    top: 6px;
}

.search i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #c7c6c6;
    font-size: 20px;
    transition: color 0.3s,
}

.search-btn {
    height: 34px;
    width: 90px;
    margin-left: 8px;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    cursor: pointer;
    border: none;
}

.search-btn:hover {
    background-image: linear-gradient(to right, #e75f20 0%, rgb(255, 38, 0) 100%);
    transition: .5s ease;
}

.table-left {
    width: 80%;
}

.mark {
    color: white;
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    display: block;
    margin-left: 10px;
}


.table-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    width: 80%;
    overflow-y: scroll;
    overflow-x: scroll;

}
.table-container::-webkit-scrollbar{
    display: none;
}

.table-container h3 {
    color: white;
    font-size: 30px;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    border: 1px solid #171a1f;
    border-radius: 5px;

}

.result-table th,
.result-table td {
    padding: 12px 15px;
    text-align: left;
    height: 23px;
}

.result-table th {
    background-color: #171a1f;
    font-weight: 600;

}

.result-table tr:hover {
    background-color: #171a1f;

}

.result-table td {
    font-weight: 200;
    color: #c9c8c8;
}

.details-student{
    /* background-color: #e75f20; */
    width: 100%;
    margin-top: 20px;
   
}
.details-student p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin:9px;
    margin-left: 0;

}



@media only screen and (max-width:780px) {

    .mini-container {
        margin-left: 25px;
    }

}

@media only screen and (max-width:770px) {
    .table-container {
        display: block;
    }
}